################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/ConsoleApp1/bin/Debug/net5.0
/ConsoleApp2/ConsoleApp2/bin/Debug/net5.0
/ConsoleApp2/ConsoleApp2/obj
/obj
/bin
/ConsoleApp3/ConsoleApp3/obj
/practice4/obj
/Question14(user)/obj
/Question14(user)/bin/Debug/net5.0
/practice4/.vs/practice4
/Question14(user)/.vs/Question14(user)/v16
/Practice3/Practice3/obj
/Practice3/Practice3/bin/Debug/net5.0
/Practice2/Practice2/obj
/Practice2/Practice2/bin/Debug/net5.0
/Practice2/.vs/Practice2/v16
/Practice3/.vs/Practice3/v16
/Practice3/.vs/Practice3/DesignTimeBuild
/Practice2/.vs/Practice2/DesignTimeBuild
/Practice/Practice/obj
/Practice/Practice/bin/Debug/net5.0
/Practice/.vs/Practice/v16
