################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/ConsoleApp1/bin/Debug/net5.0
/ConsoleApp2/ConsoleApp2/bin/Debug/net5.0
/ConsoleApp2/ConsoleApp2/obj
